#Titulo{background-color: red; color: white;
border:5px white solid;
padding-left: 275px;
padding-top: 50px;
padding-bottom: 50px;
margin: 50px;}
body{background-color: black; color: white;
margin: 30px;}
img{margin: 10px;
padding-right: 50px;}